<%= form_tag(search_secretary_path, method: :get, id: "owDoct-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search ..." %>
<% end %>
<table>
    <% @secretaries.each do |secretary| %>
        <tr>
            <td><%= secretary.name %>
				<% if !@workingSecretaries.include?(secretary.id) %>
					<%= button_to "Aggiungi Segretario", add_new_secretary_path(secretary.id, session[:clinic_id]), :method => :get, class: "btn" %>
				<% end %>
			</td>
        </tr>
    <% end %>
</table>
