<h1>GESTISCI STUDI MEDICI</h1>
<h2>Ci sono <%= @clinics.count %> studi medici creati da te</h2>

<table>
    <thead>
        <tr>
            <th>Nome Studio</th>
        </tr>
    </thead>

    <tbody>
        <% @clinics.each do |clinic| %>
        <tr>
            <td>
                <%= clinic.name %><%= button_to "Cerca segretario", search_secretary_path(current_user.id, clinic.id), :method => :get, class: "btn" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
