<h2> Creazione prescrizione per determinata visita (Vista Dottore) </h2>

<%= form_for @prescription, url: examination_prescriptions_path do |p| %>
	
	<div>
		<%= p.label :name%>
		<%= p.text_field :name, autofocus: true %>
	</div>

	<div>
		<%= p.submit "Inserisci prescrizione" %>
	</div>

<% end %>
