<h2> Prescrizioni di una data visita (vista del medico) </h2>
<br>
<table>
	<%= @prescriptions.each do |prescription| %>
		<tr> <td> <%= link_to prescription.id, prescription_path(prescription) %>  </td> </tr> 
	<% end %>
</table>
