<h2> Visita prescritta </h2>
<br>
<b> Commento: </b> <%= @prescription.comment %> <br>
<br>
<% if (session[:type] == "Doctor") %>
	<%= button_to "Modifica prescrizione visita", edit_prescription_path(@prescription), method: :get %> <br>
<% end %>
<% if (session[:type] == "Doctor") %>
	<%= button_to "Elimina prescrizione farmaco", prescription_path(@prescription), method: :delete %>
<% end %>
