<h2> Farmaco prescritto </h2>
<br>
<b> Farmaco: </b> <%= @prescription.drugName %> <br>
<b> Dosaggio: </b> <%= @prescription.comment %> <br>
<br>
<%= link_to "Modifica farmaco", edit_prescription_path(@prescription)%>
