<h2> Farmaco prescritto </h2>
<br>
<b> Farmaco: </b> <%= @prescription.drugName %> <br>
<b> Dosaggio: </b> <%= @prescription.comment %> <br>
<br>
<% if (session[:type] == "Doctor") %>
	<%= button_to "Modifica prescrizione farmaco", edit_prescription_path(@prescription), method: :get %> <br>
<% end %>
<% if (session[:type] == "Doctor") %>	
	<%= button_to "Elimina prescrizione farmaco", prescription_path(@prescription), method: :delete %>
<% end %>
