<h1>PRESCRIZIONI</h1>


<!-- ARRIVO QUA CON examination_prescriptions_path -->

<table>
    <thead>
        <tr>
            <th>Prescrizione</th>
        </tr>
    </thead>
    <tbody>
        <% @prescriptions.each do |prescription| %>
        <tr>
            <td><%= prescription.name %></td>
        </tr>
        <% end %>
    </tbody>
</table>
