<h1>PRESCRIZIONI</h1>

STO QUA?

<table>
    <thead>
        <tr>
            <th>Prescrizione</th>
        </tr>
    </thead>
    <tbody>
        <% @prescriptions.each do |prescription| %>
        <tr>
            <td><%= prescription.name %></td>
        </tr>
        <% end %>
    </tbody>
</table>
