<h2> Prescrizioni di una data visita (vista del paziente) </h2>
<br>
<table>
	<% @prescriptions.each do |prescription| %>
		<tr> <td> <%= button_to prescription.id, prescription_path(prescription), method: :get %>  </td> </tr> 
	<% end %>
</table>
