<h2> Lista segretari che lavorano in una determinata clinica di un certo proprietario (Vista proprietario)</h2>

<table border="1">
	<%= @secretaries.each do |secretary| %>
		<tr>
			<td> <%= secretary.surname + " " + secretary.name %> </td>
			<td> <%= button_to "Elimina segretario dalla clinica", manage_path(secretary.id), method: :delete %> </td>
		</tr>
	<% end %>
</table>
