<%= form_tag(search_clinic_path, method: :get, id: "owDoct-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search ..." %>
<% end %>
<table>
    <% @clinics.each do |clinic| %>
        <tr>
            <br/>
            <div class="flex">
                <%= clinic.name %><%= button_to "Informazioni", clinics_show_path(clinic.id), :method => "get", class: "btn"%>
            </div>
        </tr>
    <% end %>
</table>
