<h2> Lista cliniche </h2><br>

<br>
<table border="1">
	<% @clinics.each do |clinic| %>
		<tr>
			<td> <%= clinic.name %> </td>
			<td> <%= button_to "Visualizza clinica", clinic_path(clinic), method: :get %> </td>
		</tr>
	<% end %>
</table>
