<h2> Lista visite del paziente di una data clinica di un certo dottore </h2>

<table>
	<%= @examinations.each do |examination| %>
		<tr> <td> <%= link_to examination.id, examination_path(examination) %> </td> </tr>
	<% end %>

</table>
