<h2> VISITA </h2>
<br>
Medico: <%= @doctor.surname %> <br>
Clinica: <%= @clinic.name %> <br>

<%= link_to "Visualizza prescrizioni", examination_prescriptions_path(@examination)  %> <br>
<%= link_to "Aggiungi prescrizione", new_examination_prescription_path(@examination) %>
