<!DOCTYPE html>
<html>
    <head>
        <script>
            var uid = <%= current_user.id %>
        </script>
    <body>
        <h1> VISITE </h1>
        <!--
        <table>
            <thead>
                <tr>
                    <th>Visita</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
        -->
        <div class="calendar"></div>
    </body>
</html>
