<h1> VISITE(SEGRETARIO)</h1>

<table>
    <thead>
        <tr>
            <th>Visite</th>
        </tr>
    </thead>

    <tbody>
        <% @examinations.each do |examination| %>
        <tr>
            <td>
                <%= examination.patient_id %><%= button_to "Visualizza prescrizioni", examination_prescriptions_path(examination.id), :method => :get, class: "btn" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
