<html>
	<head>
		<h1>BENVENUTI IN iMedical</h1>

		<%= csrf_meta_tags %>
	    <%= csp_meta_tag %>

		<%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'homepage', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
	</body>
</html>
