<!DOCTYPE html>
<html>
  <head>
    <h1>HOME PAGE</h1>
  </head>
  <body>
    <div>
        Signed in as <strong><%= current_user.email %></strong>!
        <br/>
        <%= link_to "Completa iscrizione", newOauth_path(current_user.id), id: "sigOauth" %>
      </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>