<h1>iMedical</h1>
<p>Ciao <%= @user.name %>,</p>
<p>
    Benvenuto in iMedical. Clicca sul link sottostante per attivare il tuo account:
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
